/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #f6f5f3;
}

img {
    width: 100%;
}

iframe {
    width: 100%;
    height: 235px;
}

a {
    color: white;
}

ul {
    list-style-type: none;
}

/* UTILITY */

/* .debug * {
    min-height: 100px;
    padding: 15px;
    background-color: rgba(255, 0, 0, 0.3);
    border: 2px dashed red;
} */

.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .none {
    display: none;
  }

.container {
    min-width: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* INIZIO STRUTTURA MOBILE FIRST */
/* INIZIO HEADER */
header {
    background-color: white;
}

.page-title {
    color: #ff9614;
    text-align: center;
    font-size: 2.7rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 2px #00000066;
}
/* FINE HEADER */

/* INIZIO STRUTTURA PRINCIPALE */
.type-plate h2 {
    color: #4e3969; 
    font-weight: 800;
}

.plate-card {
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0px 3px 8px #00000055;
}

.info-plate {
    padding: 2rem 1.5rem;
}

.info-plate ul {
    padding-top: 2rem;
}

.info-plate li {
    padding-bottom: 1rem;
}

.social {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.social div {
    background-color: white;
    padding: 10px 15px;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 3px 8px #00000055;
}

.fa-facebook {
    color: #1a77f3;
}
.fa-twitter {
    color: #009eff;
}
.fa-instagram {
    color: #de3d78;
}
.fa-pinterest {
    color: red;
}
.fa-youtube {
    color: red;
}

#pres {
    font-size: 1.8rem;
}

.story-plate img {
    width: 70%;
    margin: 20px 0;
}

.underscore {
    width: 70px;
    height: 2px;
    background-color: #f7972e;
    margin-top: 1rem;
}

.story-plate {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 4rem;
}

.story-plate p {
    line-height: 1.8rem;
    font-size: 1.1rem;
}

.footer-section {
    font-size: 0.7rem;
    background-color: #7c69a4;
    color: white;
    padding: 2rem 4rem;
}

.site-credits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.company-address {
    padding-top: 1rem;
}

.site-policy ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.site-policy li {
    padding-right: 1.5rem;
    padding-top: 1rem;
}

/* INIZIO MEDIA QUERY MOBILE 576PX */
@media screen and (min-width: 580px) {
    .social div {
        padding: 10px 40px;
    }

    .story-plate {
        display: block;
        margin-top: 2rem;
    }

    .story-plate img {
        width: 50%;
        float: left;
        margin: 0 10px 0 0;
    }

    .footer-section {
        font-size: 1rem;
    }
}



/* INIZIO MEDIA QUERY TABLET 768PX */
@media screen and (min-width: 750px) {
    .container {
       width: 100%;
       max-width: 800px;
    }

    .page-title {
        font-size: 4rem;
        text-align: left;
        margin-bottom: 3rem;
    }

    .type-plate h2 {
        font-size: 2rem;
    }

    .span-title {
        display: inline-block;
    }
    
    .info-plate {
        font-size: 1.1rem;
    }

    .info-plate ul {
        padding-top: 3rem;
        display: flex;
        flex-wrap: wrap;
    }

    .info-plate li {
        width: calc(100% / 3);
        padding-top: 1rem;
    }

    .social div {
        padding: 10px 50px;
    }

    .banner {
        display: block;
        margin-bottom: 3rem;
    }

    .story-plate img {
        float: left;
    }

    .footer-section {
        font-size: 1.1rem;
    }
}

/* INIZIO MEDIA QUERY DESKTOP 992PX */
@media screen and (min-width: 980px) {
    .container {
        width: 100%;
        max-width: 1180px;
    }

    .type-plate h2 {
        font-size: 3rem;
    }

    .plate-card {
        display: flex;
    }

    .tutorial-plate {
        width: 70%;
    }

    .tutorial-plate img {
        width: 100%;
        height: 100%;
    }

    .info-plate ul {
        padding-top: 2rem;
        display: block;
    }
    
    .info-plate li {
        padding: 0 0 1rem 0;
        width: 100%;
    }

    .social div {
        padding: 10px 35px;
    }


    .social span {
        display: inline-block;
        margin-left: 5px;
        font-weight: 800;
    }

    .story-plate img {
        width: 30%;
    }

    .footer-section {
        display: flex;
        justify-content: space-between;
    }

    .site-credits {
        display: block;
        justify-content: flex-start;
    }
}
